body{
    font-family:'Special Elite', cursive;
    background-color: cornflowerblue;
}
.heading_div{
    background-color: white;
    color:indigo;
}
.heading_div img{
    width: 100px;
}
.main_div{
    background-color: black;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid white;
}
.main_div label{
    background-color: white;
    width: 315px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px grey;
}
#camera, #result{
    border: 3px solid white;
    width: 300px;
    height: 300px;
    box-shadow: 5px 5px 18px gray;
}
.main_div button{
    width: 300px;
    font-size: 16px;
    border: 1px solid;
    box-shadow: 5px 5px 18px gray;
}
.result_div{
    margin-bottom: 50px;
}
.result_div img{
    width:60px;
}
.result_div h4{
    background-color: purple;
    color: white;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 5px 5px 18px lavender;
}
.footer_div{
    position:fixed;
    background-color: aqua;
    color: black;
    width: 100%;
    text-align: center;
    line-height: 3;
    bottom: 0;
}